#overlay {
    display: none; /* ensures it’s invisible until it’s called */
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 10%; /* positions the div half way horizontally */
    top: 10%; /* positions the div half way vertically */
    padding: 25px; 
    border: 2px solid black;
    background-color: #ffffff;
    overflow:auto;
    width: 80%;
    height: 70%;
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
}

#fade {
    display: none;  /* ensures it’s invisible until it’s called */
    position: absolute;  /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 0%; /* makes the div span all the way across the viewing area */
    top: 0%; /* makes the div span all the way across the viewing area */
    background-color: black;
    -moz-opacity: 0.5; /* makes the div transparent, so you have a cool overlay effect */
    opacity: .50;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}

body {
  font-family: sans-serif;
  font-size: 18px;
}
textarea {
    resize:both;
}
.name {
    font-weight:bold;
    color: green;
}
.desc {
    font-style:italic;
    font-size: 16px;
}
.param {
    font-size: 14px;
    color: #222;
}
.message {
    font-size: 12px;
    color: #e00;
    white-space:nowrap;
}
.history {
    font-size: 14px;
    white-space:nowrap;
}

.log {
    font-size: 12px;
    color: black;
}

.logtable {
        display: inline;
}

.run {
    font-weight:bold;
    color: darkred;
}

.logout {
    font-weight:bold;
    color: darkred;
}

.blue {
  background-color:#ccf;
}
tr.jobrow:nth-of-type(even) {
  background-color:#eee;
}
tr.logrow:nth-of-type(even) {
  background-color:#5ee;
}
.files {
  background-color:#efe;
  color: darkgreen;
}


.running {
animation: runningframes 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes runningframes
{
0%   {color: white;}
100% {color: blue;}
}

body.en :lang(sv) {
  display: none;
}
body.sv :lang(en) {
  display: none;
}
